<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/favicon.png">
    <title>Telepati</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .full-container {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #111111;
        }

        .input-custom {
            color: white;
            background-color: #1E1E1E;
            border: none;
            opacity: 0.85;
            width: 100% !important;
        }

        .input-custom:focus {
            color: black;
            background-color: white;
            outline: none;
            opacity: 1;
        }

        .button-custom {
            width: 100%;
            color: white;
            background-color: grey;
            border-radius: 0px 0px 5px 5px !important;
            transition: 0.3s;
            border-color: transparent !important;
        }

        #join-room {
            text-align: center;
        }

        .content-container {
            width: 70%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .join-form {
            width: 50%;
            height: 25%;
        }

        .user-video-container {
            margin: 10px;
            height: 80%;
            width: 100%;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .user-video {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            border-radius: 10px;
        }

        .hide-camera {
            display: none !important;
        }

        #video-container {
            height: 75%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .button-container {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .modal-dialog-custom {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #snapshot {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .face-recognition {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .loading {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.222);
            position: absolute;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .loading-hide {
            display: none;
        }

        .picture {
            max-width: 100%;
            max-height: 100%;
        }

        .hide-element {
            display: none;
        }
    </style>
</head>

<body>
    <div class="full-container">
        <div class="loading" id="loading-id">
            <img src="/assets/pictures/loader.svg" alt="loader" />
        </div>
        <section class="content-container">
            <div id="video-container">
                <div class="user-video-container">
                    <canvas id="canvas-element" style="display:none;"></canvas>
                    <img class="hide-element" alt="user-picture" id="user-picture-id"/>
                    <video id="local-video" poster="/assets/pictures/spinner.svg" preload="auto" autoplay
                        class="user-video" muted></video>
                    <canvas id="face-matcher-box" style="position: absolute;"></canvas>
                    <div class="face-recognition" id="face-recognition-id"></div>
                </div>
                <div class="button-container">
                    <button class="btn btn-primary" id="recapture-button-id" disabled>Retake Photo</button>
                </div>
            </div>
            <form id="join-room" class="join-form">
                <button class="btn btn-primary" id="confirm-button-id" style="display: none;">Confirm</button>
                <input type="text" class="form-control input-custom" placeholder="Enter Your NIK..." id="nik-id" />
                <button type="submit" class="btn btn-primary button-custom" id="submit-button" disabled> Verify
                </button>
            </form>
        </section>
    </div>
    <script src="/javascript/room/face-api/face-api.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/javascript/lobby/lobbybundle.js"></script>
</body>

</html>